* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, Helvetica, sans-serif;
}
 
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px
}
 
.red {
    color: #c00;
}
 
.header-top {
    display: flex;
    gap: 100px;
}
 
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
}
 
h2 {
    font-size: 30px;
    margin-top: 60px;
    width: 400px;
}
 
.right > img {
    width: 400px;
}
 
.video-link {
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.video-icon {
    outline: 1px solid red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 999px;
    animation: pulse 1.4s infinite;
}
 
@keyframes pulse {
    from {
        outline-offset: 0px;
        outline-color: red;
    }
    to {
        outline-offset: 8px;
        outline-color: white;
    }
}
 
.video-link > a {
    color: black;
    text-decoration: none;
}
 
.header-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
 
.header-bottom > div {
    display: flex;
    align-items: center;
 
    gap: 10px;
}
 
.header-bottom-first {
    flex-direction: column;
    align-items: start;
    padding-right: 50px;
}
 
 
 
#about {
    display: flex;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 60px;
    font-size: 14px;
    justify-content: start;
}
 
.about-left > img {
    width: 400px;
}
 
.about-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
 
.about-right > h2 {
    line-height: 0px;
    font-size: 24px;
    margin-top: 40px;
}
 
.icon-tabler-check {
    height: 20px;
    width: 20px;
}
 
.about-list {
    list-style-type: none;
}
 
.about-list > li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}
 
.about-info {
    gap: 20px;
}
 
.about-info,
.about-info-left,
.about-info-right {
    display: flex;
}
 
.about-info-left,
.about-info-right {
    flex-direction: column;
    gap: 12px;
}
 
.about-info-card {
    display: flex;
    align-items: center;
}
 
.about-info-card > h3 {
    width: 9ch;
    font-size: 14px;
}
 
.about-info-card > p {
    border-left: 1px solid grey;
    color: grey;
    padding-left: 14px;
}
 
.about-cv-button {
    border: none;
    border-radius: 16px;
    background-color: #d00;
    padding: 10px 20px;
    color: white;
    width: fit-content;
}


