* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, Helvetica, sans-serif;
}
 
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px
}
 
.red {
    color: red
}
 
.header-top {
    display: flex;
    gap: 100px;
}
 
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
}
 
h2 {
    font-size: 30px;
    margin-top: 60px;
    width: 400px;
}
 
.right > img {
    width: 400px;
}
 
.header-bottom {
    display: flex;
}